.StatisticsBar {
  background-color: var(--bg-accent-color);
  border-radius: 15px;
  border: 2px solid var(--dark-border-color);
  height: 60%;
  padding: clamp(0.5rem, 0.375rem + 0.625vw, 0.9375rem);
  display: grid;
  grid-template-rows: repeat(3, 1fr) 40%;
  grid-template-columns: 10% repeat(3, 1fr);
}

.StatisticsBarLine {
  grid-column: 2 / -1;
  background-color: var(--section-border-color);
  height: 1.5px;
}

.StatisticsBarText {
  grid-column: 1;
  grid-row: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  gap: 12px;
}

.vertical {
  font-size: clamp(0.75rem, 0.6071rem + 0.7143vw, 1.25rem);
  line-height: 1;
}

.StatisticsBarColumn {
  display: grid;
  grid-template-rows: repeat(3, 1fr) 40%;
  grid-row: 1/-1;
}

.HistogramCount {
  grid-row: 1/4;
  background-color: var(--accent-color);
  width: 40%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 5px;
  font-size: clamp(0.75rem, 0.6071rem + 0.7143vw, 1.25rem);
  align-self: end;
  justify-self: center;
  justify-content: center;
  min-height: 20%;
  max-width: 60px;
}

.HistogramRange {
  grid-row: 4;
  padding: 0 5px;
  padding-top: 5px;
  align-self: center;
  justify-self: center;
  font-size: clamp(0.625rem, 0.5179rem + 0.5357vw, 1rem);
}

@media (width > 768px) {
  .StatisticsBar {
    width: 50%;
    height: 80%;
  }
}
